<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
  <style> 
    body {
        font-family: "Lato", sans-serif;
    }

    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
    }

    .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }
    

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .main {
         margin-left: 200px; 
    }
    .spacedtop{
        font-size: 100px;
        padding-bottom: 200px;
    }

    .spacedbottom{
        
        padding-top: 350px;
    }

    


  </style>
</head>
<body>
    <div class="sidenav">
        <div class="spacedtop">
            @Html.ActionLink("Assistance Manager", "Index", "Home")
        </div>

        @Html.ActionLink("Assets", "Index", "Assets")

        @Html.ActionLink("Pedidos de Assistência", "Index", "Assistances")

        @Html.ActionLink("Contratos", "Index", "Contracts")

        <div class="spacedbottom">
           
        </div>
    </div>
        
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy;<img  src="~/Images/aisaisais.png" height="30px" width="220px" /> </p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
